.app {
    width: 90%;
    max-width: 1280px;
    margin: 0px auto;
    padding: 0 16px 16px;
}

.toolbar {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;

    border-bottom: 1px solid #dee2e6;
    background: linear-gradient(360deg, rgba(255, 213, 0, 0.8) 0%, rgba(0, 195, 255, 0.94) 93.75%), linear-gradient(360deg, rgba(255, 213, 0, 0.89) 0%, rgba(0, 195, 255, 0.89) 6.73%)
        /* background-color: #f8f9fa; */
}

.button {
    padding: 6px 12px;
    margin-right: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #1E90FF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: #FFFF00;
}